.pie
    background-color: #4B4948
    text-align: center
    height: 8em
    display: flex
    flex-direction: column
    justify-content: space-around
    
    &__logo
        color: white
        padding-top: 1em
        stroke: white

    &__pie
        color: white
        font-size: 16px