.formulario
    padding-top: 4em

    &__movil
        text-align: center

    &__form
        display: flex
        flex-direction: column
        justify-content: space-between
        border: 1px solid #B9B8B7
        border-radius: 5px
        font-size: 15.5px
        padding: 3em
        height: 30em

    &__demo
        font-weight: 600
        font-size: 25px

    &__input
        display: flex
        flex-direction: column
        justify-content: space-around

    &__inputcampo
        font-family: Catamaran
        border-radius: 5px
        padding: .3em
        box-shadow: none
        height: auto
        border-shadow: none
        border: solid #B9B8B7 1px
        padding-left: 0.5em
    
    &__enviar
        background-image: $gradient-1
        border-radius: 5px
        border: none
        color: #ffffff
        width: 6em
        height: 3em
    
    &__enviar:hover
        opacity: 0.9

    &__city
        border-radius: 5px
        font-family: Catamaran
        height: 2.3em
        background-color: white
        padding-left: .3em

    &__enviado
        text-align: center
        border-radius: 5px
        height: auto
        width: 100%
        border: 1px solid #B9B8B7
        display: flex
        flex-direction: column
        justify-content: center
        padding: 1.5em       
        
    
    &__check
        display: flex
        flex-direction: row

    &__check p
        font-size: 16px
        
    &__checkbox
        margin-right: 0.4em



@media screen and(max-width: 48em)
    .formulario__movil
        display: none