.funciona
    justify-content: center
    

    &__titulo
        text-align: center
        padding-top: 1.5em
        padding-bottom: 1em
        font-weight: 500

    &__bolita
        display: flex
        flex-direction: column

    &__numero
        background-image: $gradient-1
        border-radius: 50px
        width: 1.5em
        height: 1.5em
        font-size: 31px
        font-weight: medium
        color: #ffffff
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
        align-self: center



.funciona li
    text-align: center
    
    
.funciona h3
    padding-top: 1em

@media screen and(max-width: 48em)
    .funciona li
        text-align: left
        display: flex
        flex-direction: row

    .funciona__cosa
        display: flex
        flex-direction: column
        justify-content: space-around

    .funciona__bolita
        padding-top: 2em
    
    .funciona__titulo
        padding-bottom: 0