.mapa
    display: flex
    flex-direction: row
    justify-content: space-around


    &__titulo
        text-align: center
        padding-top: 2em

      
        
.mapa iframe
    padding-bottom: 3em
    padding-top: 2em
    padding-left: 2em
    width: 100%

.listado
    padding-top: 2em
    list-style: none
    display: flex
    flex-direction: column
    justify-content: space-around

    &__bloque
        height: 4em
        padding-top: 1em
        border-bottom: 1px solid #B9B8B7
        
        &:last-child
            border-bottom: 0

 
    &__arriba
        color: #000
        text-align: left

    &__abajo
        display: flex
        flex-direction: row
        justify-content: space-between

.estrellas
    color: $primary3

.bloque-lista-mapa
    display: flex
    flex-direction: row
    justify-content: space-around

@media screen and(max-width: 48em)
    .mapa
        display: flex
        flex-direction: column
        justify-content: space-around

    .mapa iframe
        padding-bottom: 0
        padding-top: 0
        padding-left: 0
        width: 100%