.opinion h2
    text-align: center
    padding-bottom: 1em

.opinion
    padding-top: 5em
    
    &__autor
        font-weight: 00

    &__lugar
        font-size: 16px
    
    &__bloques
        
    &__opis
        border: 1px solid #B9B8B7
        border-radius: 5px
        padding: 1em

    &__pie:before
        content: ""
        position: relative
        left: 15px
        top: 0
        height: 0
        width: 0
        border-top: 10px solid #B9B8B7
        border-left: 10px dotted transparent
        border-right: 10px dotted transparent

    &__pie:after
        content: ""
        position: relative
        left: 15px
        top: -74px
        height: 0
        width: 0
        border-top: 10px solid white
        border-left: 10px dotted transparent
        border-right: 10px dotted transparent 
    
    &__pie
        padding-top: 1em

@media screen and ( max-width: 48em )
    .opinion__bloques2
        text-align: right
    
    .opinion__bloques2:before
        content: ""
        position: relative
        left: -15px
        top: 0
        height: 0
        width: 0
        border-top: 10px solid #B9B8B7
        border-left: 10px dotted transparent
        border-right: 10px dotted transparent

    .opinion__bloques2:after
        content: ""
        position: relative
        left: -15px
        top: -74px
        height: 0
        width: 0
        border-top: 10px solid white
        border-left: 10px dotted transparent
        border-right: 10px dotted transparent 
    