.titulo 
    color: #fff
    /* No funciona*/
    background-image: url("../../assets/images/jumbo.jpg")
    width: 100%
    background-size: cover
    padding: 0

    &__cabeza
        background: rgba(47, 46, 45, .85)
        display: flex
        flex-direction: column
        height: 30em

    &__interiorcabeza
        justify-content: space-around
        display: flex
        flex-direction: column
        padding-top: 4em
        padding-left: 3em
        height: 70%
        width: 80%

    &__iconos
        display: inline-block
        flex-direction: row
        justify-content: space-between
        width: 95%

.icono1:hover
    opacity: 0.7

.icono2:hover
    opacity: 0.7

@media screen and(max-width: 48em)
    .titulo__iconos
        display: flex
        flex-direction: column
        justify-content: space-between
