@import "reset"
@import "blocks/grid"
@import "variables"


//bloques
@import "blocks/titulo"
@import "blocks/footer"
@import "blocks/mapa"
@import "blocks/opiniones"
@import "blocks/header"
@import "blocks/funciona"
@import "blocks/formulario"


body
    font-family: 'Catamaran', sans-serif

h1 
    font-size: 48px
    line-height: 56px
    font-weight: medium

h2 
    font-size: 39px
    line-height: 47px
    font-weight: medium

h3 
    font-size: 31px
    line-height: 40px
    font-weight: medium

.h3
    font-size: 31px
    line-height: 40px
    font-weight: medium

p 
    font-size: 20px
    line-height: 28px
    font-weight: regular
    color: #4B4948

