<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hola</title>
    </head>
    <body>

        {% if usuario.registrado %}
            <p>Bienvenido</p>
        {% else %}
            <p>Debes registrarte</p>
        {% endif %}
    </body>
</html>